/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button {
	cursor: pointer;
}

/* Global styles */
body {
	font-family: "Space Grotesk", sans-serif;
	min-height: 100dvh;

	overflow: hidden;
}

/* Project styles */
:root {
	--primary-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

	--error: hsl(0, 100%, 66%);

	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(285, 4%, 81%);
	--gray: hsl(279, 6%, 55%);
	--violet: hsl(278, 68%, 11%);

	--border-radius: 6px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button {
	border: 0;
	border-radius: var(--border-radius);

	color: var(--white);
	background-color: var(--violet);

	font-size: 0.9rem;

	padding-block: 0.8rem;

	width: 100%;
}

main {
	display: flex;
	height: 100dvh;
}

/* Cards */
.cards {
	position: relative;
}

.card {
	position: absolute;
}

.card .content {
	position: absolute;
	inset: 1.5rem;
}

.card p {
	position: absolute;
	top: 0;

	color: var(--white);
	letter-spacing: 2px;

	font-size: 1rem;

	z-index: 1;
}

/* Front Card */
.front {
	top: 15%;
	right: 0;
	transform: translateX(25%);
}

.front .logo {
	width: 5rem;
}

.front .number {
	top: 55%;
	inset-inline: 0;

	text-align: center;
	letter-spacing: 0.125rem;
	font-size: 2rem;
}

.front .owner {
	top: 100%;
	transform: translateY(-100%);

	text-transform: uppercase;
}

.front .expiry-date {
	top: 100%;
	left: 100%;
	transform: translate(-100%, -100%);
}

/* Back card */
.back {
	top: 55%;
	right: 0;
	transform: translateX(50%);
}

.back .cvc {
	top: 42.5%;
	left: 82%;
}

/* Submit form */
.submit-form {
	flex: 1;
	display: grid;
	place-items: center;
}

.submit-form form,
.thank-you {
	display: grid;

	max-width: 400px;
	margin-left: 4em;
}

.submit-form form {
	gap: 2rem;
	grid-template-areas:
		"owner owner"
		"number number"
		"date cvc"
		"btn btn";
}

.form-group {
	display: grid;
	gap: 0.5rem;
}

.form-group label {
	text-transform: uppercase;
	letter-spacing: 1.5px;

	font-size: 0.8rem;
	font-weight: 600;

	color: var(--violet);
}

.form-group input {
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid var(--light-gray);
	border-radius: var(--border-radius);
}

.form-group input::placeholder {
	color: var(--light-gray);
}

.form-group input[aria-invalid="true"] {
	border-color: var(--error);
}

.error {
	display: none;

	transform: translateY(-2.5px);

	color: var(--error);
	font-size: small;
}

.form-group input[aria-invalid="true"] ~ .error {
	display: block;
}

.form-group #number {
	text-transform: uppercase;
}

.owner-input {
	grid-area: owner;
}

.number-input {
	grid-area: number;
}

.date-input {
	grid-area: date;

	display: grid;
	grid-template-areas:
		"label label"
		"month year";
}

.date-input:has(input[aria-invalid="true"]) {
	grid-template-areas:
		"label label"
		"month year"
		"error error";
}

.date-input .error {
	grid-area: error;
}

.date-input label {
	grid-area: label;
}

.date-input input:first-child {
	grid-area: month;
}

.date-input input:second-child {
	grid-area: year;
}

.cvc-input {
	grid-area: cvc;
}

form button {
	grid-area: btn;
}

/* Thank You section */
.thank-you {
	display: none;

	width: 800px;

	place-items: center;
	gap: 2.5rem;

	text-align: center;
}

.thank-you img {
	width: 70px;
}

.thank-you .msg {
	display: grid;
	gap: 1rem;
}

.thank-you h2 {
	text-transform: uppercase;

	font-size: 2rem;
	font-weight: 400;

	color: var(--violet);
}

.thank-you p {
	color: var(--gray);
}

@media screen and (max-width: 800px) {
	body {
		overflow: initial;
	}

	main {
		width: 100dvw;
		display: block;
	}

	.card {
		width: 75%;
	}

	.card .content {
		inset: 2rem;
	}

	.card p {
		font-size: 0.85rem;
	}

	.front {
		transform: translateX(0);
		top: 55%;
		left: 5%;
		right: unset;

		z-index: 1;
	}

	.front .logo {
		width: 6rem;
	}

	.front .number {
		top: 55%;
		font-size: 5cqw;
	}

	.back {
		top: 15%;
		transform: translateX(0);
		right: 5%;
	}

	.back p {
		transform: translateY(-5px);
		font-size: 1.2rem;
	}

	.back .cvc {
		top: 46%;
	}

	.submit-form {
		padding-top: 8rem;
		padding-bottom: 2rem;
	}

	.submit-form form,
	.thank-you {
		margin-left: 0;
	}

	form button {
		margin-top: 0.5rem;
	}
}

@media screen and (max-width: 560px) {
	.front .content {
		inset: 1.2rem;
	}

	.card p {
		font-size: 0.75rem;
	}

	.front .logo {
		width: 4rem;
	}

	.front .number {
		font-size: 4.7cqw;
	}

	.back p {
		/* transform: translateY(-7px); */
		font-size: 0.8rem;
	}

	.submit-form {
		padding-top: 6rem;
		padding-inline: 1rem;
	}

	.submit-form form {
		grid-template-areas:
			"owner"
			"number"
			"date"
			"cvc"
			"btn";
		gap: 1rem;
	}
}
