/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

/* Global styles */
body {
  font-family: "Space Grotesk", sans-serif;
  min-height: 100dvh;

  overflow: hidden;
}

/* Project styles */
:root {
  --primary-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

  --error: hsl(0, 100%, 66%);

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(270, 3%, 87%);
  --gray: hsl(279, 6%, 55%);
  --violet: hsl(278, 68%, 11%);
}

main {
  display: flex;
  height: 100%;
}

/* Cards */
.cards {
  flex: 1;

  position: relative;
}

.card {
  position: absolute;
}

.card .content {
  position: absolute;
  inset: 2cqw;
}

.card p {
  position: absolute;
  top: 0;

  color: var(--light-gray);
  letter-spacing: 2px;
  font-size: 1.2cqw;

  z-index: 1;
}

/* Front Card */
.front {
  top: 15%;
  right: 0;
  transform: translateX(25%);
}

.front .logo {
  width: 8cqw;
}

.front .number {
  top: 55%;
  inset-inline: 0;

  text-align: center;
  font-size: 2.2cqw;
}

.front .owner {
  top: 100%;
  transform: translateY(-100%);

  text-transform: uppercase;
}

.front .expiry-date {
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}

/* Back card */
.back {
  bottom: 25%;
  right: 0;
  transform: translateX(50%);
}

.back .cvv {
  top: 42.5%;
  left: 82%;
}

/* Submit form */
section {
  flex: 2;
}

@media screen and (max-width: 780px) {
  .front .number {
    font-size: 2cqw;
  }
}

@media screen and (max-width: 530px) {
  .front .number {
    font-size: 1.7cqw;
  }
}

@media screen and (max-width: 375px) {
  main {
    display: block;
  }

  .card {
    width: 75%;
  }

  .card .content {
    inset: 4cqw;
    bottom: 6cqw;
  }

  .card p {
    font-size: 3cqw;
  }

  .front {
    transform: translateX(0);
    top: 55%;
    left: 5%;
    right: unset;

    z-index: 1;
  }

  .front .logo {
    width: 15cqw;
  }

  .front .number {
    top: 55%;
    font-size: 5cqw;
  }

  .back {
    transform: translateX(0);
    right: 5%;
  }

  .back .cvv {
    top: 46%;
  }
}
